@font-face {
  font-family: NeueMontreal;
  src: url(../public/fonts/neueMontreal-Regular.ttf);
}

@font-face {
  font-family: FoundersGrotesk;
  src: url(../public/fonts/foundersGrotesk-Semibold.ttf);
}

@import "tailwindcss";

@theme {
  --font-NeueMontreal: NeueMontreal, "sans-serif";
  --font-FoundersGrotesk: FoundersGrotesk, "sans-serif";
}


@layer utilities {

  /* FOR BUTTON ANIMATION */
  @keyframes slideUpIn {
    0% {
      transform: translateY(100%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slideUpOut {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-100%);
    }
  }

  .animate-slide-up-in {
    animation: slideUpIn 0.2s ease-in-out forwards;
  }

  .animate-slide-up-out {
    animation: slideUpOut 0.2s ease-in-out forwards;
  }

  .reset-transform {
    transform: translateY(500%);
  }
}